@import "../../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: #000;
  height: 15rem;

  position: relative;

  &__logo-container {
    display: flex;
    align-items: center;

    img {
      width: 7rem;
      height: 7rem;
      margin-right: 2rem;
    }
  }

  &__logo-text {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
  }

  & .btn {
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }

  .navbar-container {
    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }

  .mobile-menu-icon {
    display: none;

    @media only screen and (max-width: 1100px) {
      display: block;
    }
  }

  .mobile-menu-navbar {
    background-color: #000;
    padding: 5rem 10rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 80%;
    right: 30px;
    animation: scaleUp 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;
    box-shadow: 0 0 5px #fff;
  }

  .navigation {
    &__list {
      list-style: none;

      display: flex;
      gap: 6rem;

      @media only screen and (max-width: 1100px) {
        flex-direction: column;
        gap: 3rem;
      }
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: #fff;
      transition: all 0.3s;

      position: relative;

      @media only screen and (max-width: 800px) {
        color: #fff;
        font-weight: bold;
      }
    }

    &__link:hover,
    &__link:active {
      // color: #000;

      &::before {
        width: 100%;
      }
    }

    &__link.active,
    &__link.active {
      color: #fff;

      &::before {
        width: 100%;
      }
    }

    &__link::before {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      height: 4px;
      width: 0;
      transition: all 0.3s;
      background-image: $gradient-link;
    }
  }

  .contact {
    position: absolute;
    top: 0;
    left: -12%;

    &-icon {
      margin-right: 1rem;
    }

    &-text {
      font-size: 1.6rem;
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}
